/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(0,0,0);
  background-image: url(media/images/brick.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}
h1 {
  font-style: italic;
  color: #373fff;
}
td.console {
  border: 18px inset #3e3e3e;
  background-color: black;
  padding: 0 5px;
  border-radius: 15px 15px 15px 15px;
}
table#console {
  background-color: black;
  color: limegreen;
  border-collapse: collapse;
  background: linear-gradient(133deg, rgba(0,0,0,1) 0%, rgb(27, 27, 27) 24%, rgb(29, 29, 29) 51%, rgb(0, 0, 0) 80%, rgba(0,0,0,1) 100%);
  text-shadow: 2px -2px 4px #01ff38;
}

table#console td {
  padding: 0px;
  min-width: 8px;
  width: 8px;
  max-width: 8px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}
div#cardreader img {
  width: 230px;
  height: 200px;
}
div#pinreader img {
  width: 210px;
  cursor: pointer;
}
input#cardnumber {
  display: block;
  position: absolute;
  top: 100px;
  left: 30px;
  text-align: center;
}
div.pin {
  border: 1px inset darkgreen;
  background-color: darkgreen;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 20px;
  /* width: 150px; */
  font-stretch: extra-expanded;
  font-family: monospace;
  font-size: 20px;
  height: 1em;
  color: limegreen;
}
div#cards {
  position: relative;
  z-index: 200;
}
div.card {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.73);
  width: 260px;
  height: 130px;
  cursor: pointer;
  position: absolute;
  box-shadow: 3px 3px rgba(0,0,0,0.25);
  background: linear-gradient(133deg, rgba(70,130,180,1) 0%, rgba(213,226,238,1) 39%, rgba(255,255,255,1) 51%, rgba(238,243,248,1) 64%, rgba(70,130,180,1) 100%);
  transition: transform 0.2s linear;
  overflow: hidden;
}
div.card:hover {
  z-index: 20 !important;
  transform: translate(150px, 0px) !important;
  border:1px solid black;
  background: linear-gradient(133deg, rgba(255,164,0,1) 0%, rgba(238,231,213,1) 39%, rgba(255,255,255,1) 51%, rgba(248,245,238,1) 64%, rgba(255,164,0,1) 100%);
}
div.card h3  {
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 65px;
  left: 20px;
}
div.card h4 {
  font-size: 13px;
  font-family: monospace;
  position: absolute;
  top: 100px;
  left: 25px;
}

div.card:hover {
  background-color: orange;
}
img.card-logo {
  width: 200px;
  position: absolute;
  right: 1px;
  top: -20px;
  z-index: 1;
  opacity: 0.2;
}
img.card-chip {
  position: relative;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 45px;
}
img.card-vasi {
  position: absolute;
  left: 210px;
  top: 100px;
  width: 60px;
  height: 30px;
  border: 1px solid white;
}
div#dispenser {
  height: 90px;
  width: 184px;
  margin: 0;
  background-color: black;
  border: 8px inset darkgray;
  margin-left: 14px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,13,13,1) 81%, rgba(69,69,69,1) 100%);
}
div.note {
  position: absolute;
  top: 10px;
  left: 8px;
  background-image: url(./media/images/money.jpg);
  background-size: 347px;
  height: 70px;
  width: 170px;
  background-position: -2px 0%;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
div#cash {
  position: relative;
    left: 415px;
    top: 50px;
}
div#cash div.note {
  background-size: 208% 740% !important;
  width: 340px;
  height: 150px;
  background-position-y: -2px;
  background-position-x: -7px;
  transform-origin: right center;
}
div#cash div.note:hover {
  z-index: 1000 !important;
}

div.note-100 {
  background-position-y: -456px;
}
div#cash div.note-100 {
  background-position-y: -988px;
  background-size: 208% 760% !important;
}

div.note-50 {
  background-position-y: -381px;
}
div#cash div.note-50 {
  background-position-y: -803px;
}


div.note-20 {
  background-position-y: -305px;
}
div#cash div.note-20 {
  background-position-y: -643px;
  background-size: 210% 742% !important;
  background-position-x: -10px;
}

div.note-10 {
  background-position-y: -229px;
}
div#cash div.note-10 {
  background-position-y: -480px;
}

div.note-5 {
  background-position-y: -152px;
}
div#cash div.note-5 {
  background-position-y: -319px;
}
div.note-2 {
  background-position-y: -78px;
}
div#cash div.note-2 {
  background-position-y: -162px;
}
div.note-1 {
  background-position-y: -0px;
}
div#cash div.note-1 {
background-position-y: -2px;
}

div#printer {
  position: relative;
  height: 10px;
  width: 200px;
  background-color: black;
  margin-left: 12px;
}
div.receipt {
  border: 1px solid #d8d8d859;
  padding: 5px;
  color: darkgray;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  width: 180px;
  margin-left: 4px;
  cursor: pointer;
  position: relative;
  background: rgb(190,190,190);
  background: linear-gradient(180deg, rgba(190,190,190,1) 0%, rgba(244,244,244,1) 10%, rgb(255, 255, 255) 100%);
  border-top: none;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
}
div.receipt h4 {
  text-align: center;
}

div#wallet {
  background-image: url(./media/images/wallet-and-hand.png);
  width: 800px;
  height: 350px;
  background-size: 100% 100%;
  padding-left: 55px;
  position: fixed;
  bottom: 0px;
}
.metal-linear {
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
    background-size: 10%;
}